ul {
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}

ul li {
    display        : inline;
    text-decoration: none;
    padding        : .2em 1em;
}

li:first-child .arrivalTime {
    display: none;
}

li:not(:first-child) .timeUntil {
    display: none;
}
